---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---

<div class="flex w-full justify-between">
	<Tag>
		<a href={`/posts/${post.slug}/`} class="cactus-link" rel="prefetch">
			{post.data.title}
		</a>
	</Tag>
	<FormattedDate date={postDate} class="min-w-[120px] text-right text-right text-gray-500" />
</div>
{withDesc && <q class="line-clamp-3 block italic">{post.data.description}</q>}
